html {
	overflow: auto;
    position: relative;
    min-width: 24px;
    min-height: 768px;
	background: white;
    background-color: rgba(0,0,0,0.05);
}

div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: down;
    text-align: center;
}	

div.img img {
    display: inline;
    margin: 88px;
    border: 1px solid #ffffff;
}


div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}

.thumbnail {
	margin-bottom:5px;
    background-color: rgba(0,0,0,0.05);
}



#content {
	position: relative;
    background-color: rgba(0,0,0,0.05);
}
