

html {
	overflow: auto;
    opacity: 0.95;
    position: relative;
    min-width: 24px;
    min-height: 768px;
}

body {
        background: transparent;
}

div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: none;
    text-align: center;
}	

div.img img {
    display: inline;
    margin: 88px;
    border: 1px solid #ffffff;
}


div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}

.thumbnail {
	margin-bottom:5px;
    background-color: rgba(0,0,0,0.05);
}

.popover {
    max-width: 300px; 
    max-height: 300px; 
    width: 100%;
    height: auto;
    text-align: center;
    opacity: 1;
}

#playerSide {
    background: white;
    height: 97%;
}

#middle {
}

#opponentSide {
    background: white;
    height: 97%;
}